<div id="<%= dom_id movement %>">
  <p>
    <strong>Product:</strong>
    <%= movement.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= movement.quantity %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= movement.movement_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= movement.date %>
  </p>

</div>
